<div style="width: 1920px; height: 3183.02px; position: relative; background: #fff;">
  <div
    style="width: 1920px; height: 284px; position: absolute; left: 0px; top: 0px; background: #fff;"
  >
    <div
      style="width: 1830px; height: 284px; position: absolute; left: 90px; top: 0px; background: url(&#x27;div.sub-visual.png&#x27;);"
    >
      <p
        style="width: 162.69px; height: 52px; position: absolute; left: 789.19px; top: 95px; font-size: 45px; text-align: center; color: #fff;"
      >
        입학안내
      </p>
      <p
        style="width: 326.27px; height: 21px; position: absolute; left: 707.16px; top: 171px; font-size: 18px; text-align: center; color: #fff;"
      >
        내꿈은 하늘 빛! 파란꿈이 더 큰 세상을 향합니다.
      </p>
    </div>
  </div>
  <p
    style="width: 97.61px; height: 27px; position: absolute; left: -8848.7px; top: -1px; font-size: 18px; font-weight: 100; text-align: center; color: #333;"
  >
    본문 바로가기
  </p>
  <p
    style="width: 113.17px; height: 27px; position: absolute; left: -8856.48px; top: -1px; font-size: 18px; font-weight: 100; text-align: center; color: #333;"
  >
    주메뉴 바로가기
  </p>
  <div
    style="width: 1920px; height: 65px; position: absolute; left: 0px; top: 284px; background: #fff;"
  >
    <div
      style="width: 1830px; height: 65px; position: absolute; left: 90px; top: 0px; background: #1a2f64;"
    >
      <img
        src="p.png"
        style="width: 16px; height: 16px; position: absolute; left: 195px; top: 23.5px; object-fit: none;"
      />
      <div
        style="width: 500px; height: 65px; position: absolute; left: 242px; top: 0px; background: url(&#x27;list.png&#x27;);"
      >
        <div
          style="width: 250px; height: 65px; position: absolute; left: 0px; top: 0px; background: url(&#x27;item-→-link.png&#x27;);"
        >
          <p
            style="width: 62.45px; height: 27px; position: absolute; left: 30px; top: 18.91px; font-size: 17.71875px; font-weight: 100; text-align: left; color: #fff;"
          >
            입학안내
          </p>
        </div>
        <div
          style="width: 250px; height: 65px; position: absolute; left: 250px; top: 0px; background: url(&#x27;item-→-link.png&#x27;);"
        >
          <p
            style="width: 46.89px; height: 27px; position: absolute; left: 30px; top: 18.91px; font-size: 17.578125px; font-weight: 100; text-align: left; color: #fff;"
          >
            대학원
          </p>
        </div>
      </div>
    </div>
  </div>
  <p
    style="width: 122.34px; height: 63px; position: absolute; left: 899.39px; top: 404px; font-size: 45px; font-weight: 500; text-align: center; color: #000;"
  >
    대학원
  </p>
  <div style="width: 1576px; height: 2357.84px; position: absolute; left: 172px; top: 522px;">
    <div
      style="width: 1400px; height: 461.72px; position: absolute; left: 88px; top: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-color: #ddd;"
    >
      <svg
        width="425"
        height="341"
        viewBox="0 0 425 341"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        style="width: 424px; height: 340.72px; position: absolute; left: 0px; top: 60px;"
        preserveAspectRatio="none"
      >
        <rect
          width="424"
          height="253.42"
          transform="translate(0.163208 0.227051)"
          fill="url(#pattern0)"
        ></rect>
        <defs>
          <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_71_187" transform="scale(0.00142653 0.00238663)"></use>
          </pattern>
          <image
            id="image0_71_187"
            width="701"
            height="419"
            
          ></image>
        </defs>
      </svg>
      <div style="width: 926px; height: 340.72px; position: absolute; left: 474px; top: 60px;">
        <img
          src="/static/images/bg-GraduateSchool-con01.jpg"
          style="width: 37px; height: 15px; position: absolute; left: -1px; top: -1px; object-fit: none;"
        />
        <p
          style="width: 152.43px; height: 50px; position: absolute; left: 0px; top: 12px; font-size: 34px; font-weight: 500; text-align: left; color: #000;"
        >
          일반대학원
        </p>
        <div
          style="width: 194.52px; height: 50px; position: absolute; left: 721.48px; top: 5px; border-width: 1px; border-color: #26409a;"
        >
          <p
            style="width: 128.51px; height: 21px; position: absolute; left: 15px; top: 14.2px; font-size: 18px; text-align: left; color: #26409a;"
          >
            홈페이지 바로가기
          </p>
          <img
            src="span.ico-link-hp-blue.png"
            style="width: 17px; height: 15px; position: absolute; left: 161.52px; top: 16.5px; object-fit: none;"
          />
        </div>
        <p
          style="width: 852.79px; height: 52.19px; position: absolute; left: 0px; top: 88.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
        >
          <span
            style="width: 852.79px; height: 52.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
            >안양대학교의 일반대학원은 진리의 탐구, 교육, 실천이라는 대학의 교육이념을 바탕으로
            창의적인 연구능력을 배양하고, 전문</span
          ><br /><span
            style="width: 852.79px; height: 52.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
            >학술인력을 양성하여, 지역사회 나아가서는 국가적 요구에 부응하고자 합니다.</span
          >
        </p>
        <p
          style="width: 85.44px; height: 28px; position: absolute; left: 0px; top: 171.56px; font-size: 24px; text-align: left; color: #26409a;"
        >
          교과과정
        </p>
        <p
          style="width: 865.29px; height: 52.18px; position: absolute; left: 0px; top: 212.16px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
        >
          <span
            style="width: 865.29px; height: 52.18px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
            >신학과, 교육학과, 경영학과, 관광경영학과, 행정학과, 음악학과, 정보통계학과,
            컴퓨터공학과, 정보통신공학과, 도시정보공학과,</span
          ><br /><span
            style="width: 865.29px; height: 52.18px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
            >환경공학과, 전기전자공학과</span
          >
        </p>
        <div
          style="width: 289.86px; height: 42.19px; position: absolute; left: 0px; top: 298.53px; background: url(&#x27;list-→-item.png&#x27;);"
        >
          <p
            style="width: 234.06px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            031-467-0854 / 031-467-0933
          </p>
        </div>
        <div
          style="width: 164.33px; height: 42.19px; position: absolute; left: 329.86px; top: 298.53px; background: url(&#x27;list-→-item-2.png&#x27;);"
        >
          <p
            style="width: 108.53px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            031-467-0856
          </p>
        </div>
        <div
          style="width: 150.52px; height: 42.19px; position: absolute; left: 534.19px; top: 298.53px; background: url(&#x27;list-→-item-3.png&#x27;);"
        >
          <p
            style="width: 94.72px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            본관 지상 3층
          </p>
        </div>
      </div>
    </div>
    <div
      style="width: 1400px; height: 436.53px; position: absolute; left: 88px; top: 461.72px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-color: #ddd;"
    >
      <svg
        width="425"
        height="317"
        viewBox="0 0 425 317"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        style="width: 424px; height: 315.53px; position: absolute; left: 0px; top: 60px;"
        preserveAspectRatio="none"
      >
        <rect
          width="424"
          height="253.42"
          transform="translate(0.163208 0.947021)"
          fill="url(#pattern0)"
        ></rect>
        <defs>
          <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_71_205" transform="scale(0.00142653 0.00238663)"></use>
          </pattern>
          <image
            id="image0_71_205"
            width="701"
            height="419"
            
          ></image>
        </defs>
      </svg>
      <div style="width: 926px; height: 315.53px; position: absolute; left: 474px; top: 60px;">
        <img
          src="templates/objectives.htmlbg-GraduateSchool-con03.jpg"
          style="width: 37px; height: 15px; position: absolute; left: -1px; top: -1px; object-fit: none;"
        />
        <p
          style="width: 152.43px; height: 50px; position: absolute; left: 0px; top: 12px; font-size: 34px; font-weight: 500; text-align: left; color: #000;"
        >
          교육대학원
        </p>
        <div
          style="width: 194.52px; height: 50px; position: absolute; left: 721.48px; top: 5px; border-width: 1px; border-color: #26409a;"
        >
          <p
            style="width: 128.51px; height: 21px; position: absolute; left: 15px; top: 14.2px; font-size: 18px; text-align: left; color: #26409a;"
          >
            홈페이지 바로가기
          </p>
          <img
            src="span.ico-link-hp-blue.png"
            style="width: 17px; height: 15px; position: absolute; left: 161.52px; top: 16.5px; object-fit: none;"
          />
        </div>
        <p
          style="width: 867.84px; height: 52.18px; position: absolute; left: 0px; top: 88.19px; font-size: 17.859375px; font-weight: 100; text-align: left; color: #333;"
        >
          <span
            style="width: 867.84px; height: 52.18px; font-size: 17.859375px; font-weight: 100; text-align: left; color: #333;"
            >안양대학교 교육대학원은 현재를 살아가는 지혜와 미래사회를 열어 갈 교육적 진리를
            탐구하고, 창조성·다양성·복합성·도덕성을</span
          ><br /><span
            style="width: 867.84px; height: 52.18px; font-size: 17.859375px; font-weight: 100; text-align: left; color: #333;"
            >요구하는 사회논리에 대응할 수 있는 실천적 방법을 연구·교수합니다.</span
          >
        </p>
        <p
          style="width: 85.44px; height: 28px; position: absolute; left: 0px; top: 171.56px; font-size: 24px; text-align: left; color: #26409a;"
        >
          교과과정
        </p>
        <p
          style="width: 827.59px; height: 27px; position: absolute; left: 0px; top: 212.16px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
        >
          국어교육전공, 영어교육전공, 교육행정전공, 상담심리전공, 유아교육전공, 외국어로서의
          한국어교육, 청소년상담교육전공
        </p>
        <div
          style="width: 289.86px; height: 42.19px; position: absolute; left: 0px; top: 273.34px; background: url(&#x27;list-→-item.png&#x27;);"
        >
          <p
            style="width: 234.06px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            031-467-0854 / 031-467-0933
          </p>
        </div>
        <div
          style="width: 164.33px; height: 42.19px; position: absolute; left: 329.86px; top: 273.34px; background: url(&#x27;list-→-item-2.png&#x27;);"
        >
          <p
            style="width: 108.53px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            031-467-0856
          </p>
        </div>
        <div
          style="width: 150.52px; height: 42.19px; position: absolute; left: 534.19px; top: 273.34px; background: url(&#x27;list-→-item-3.png&#x27;);"
        >
          <p
            style="width: 94.72px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            본관 지상 3층
          </p>
        </div>
      </div>
    </div>
    <div
      style="width: 1400px; height: 436.53px; position: absolute; left: 88px; top: 898.25px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-color: #ddd;"
    >
      <svg
        width="425"
        height="316"
        viewBox="0 0 425 316"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        style="width: 424px; height: 315.53px; position: absolute; left: 0px; top: 60px;"
        preserveAspectRatio="none"
      >
        <rect
          width="424"
          height="253.42"
          transform="translate(0.163208 0.477051)"
          fill="url(#pattern0)"
        ></rect>
        <defs>
          <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_71_223" transform="scale(0.00142653 0.00238663)"></use>
          </pattern>
          <image
            id="image0_71_223"
            width="701"
            height="419"
            
          ></image>
        </defs>
      </svg>
      <div style="width: 926px; height: 315.53px; position: absolute; left: 474px; top: 60px;">
        <img
          src="heading-3.png"
          style="width: 37px; height: 15px; position: absolute; left: -1px; top: -1px; object-fit: none;"
        />
        <p
          style="width: 212.99px; height: 50px; position: absolute; left: 0px; top: 12px; font-size: 34px; font-weight: 500; text-align: left; color: #000;"
        >
          경영행정대학원
        </p>
        <div
          style="width: 194.52px; height: 50px; position: absolute; left: 721.48px; top: 5px; border-width: 1px; border-color: #26409a;"
        >
          <p
            style="width: 128.51px; height: 21px; position: absolute; left: 15px; top: 14.2px; font-size: 18px; text-align: left; color: #26409a;"
          >
            홈페이지 바로가기
          </p>
          <img
            src="span.ico-link-hp-blue.png"
            style="width: 17px; height: 15px; position: absolute; left: 161.52px; top: 16.5px; object-fit: none;"
          />
        </div>
        <p
          style="width: 908.61px; height: 52.19px; position: absolute; left: 0px; top: 88.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
        >
          <span
            style="width: 908.61px; height: 52.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
            >안양대학교의 경영행정대학원은 산업계와 학계의 상호 이해를 바탕으로 하는 산학협동을 증진
            및 경영 합리화, 행정 효율을 위한 고급</span
          ><br /><span
            style="width: 908.61px; height: 52.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
            >인력 양성을 목적으로 합니다.</span
          >
        </p>
        <p
          style="width: 85.44px; height: 28px; position: absolute; left: 0px; top: 171.56px; font-size: 24px; text-align: left; color: #26409a;"
        >
          교과과정
        </p>
        <p
          style="width: 334.08px; height: 27px; position: absolute; left: 0px; top: 212.16px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
        >
          경영학과, 행정학과, 관광경영학과, 사회복지학과
        </p>
        <div
          style="width: 289.86px; height: 42.19px; position: absolute; left: 0px; top: 273.34px; background: url(&#x27;list-→-item.png&#x27;);"
        >
          <p
            style="width: 234.06px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            031-467-0854 / 031-467-0933
          </p>
        </div>
        <div
          style="width: 164.33px; height: 42.19px; position: absolute; left: 329.86px; top: 273.34px; background: url(&#x27;list-→-item-2.png&#x27;);"
        >
          <p
            style="width: 108.53px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            031-467-0856
          </p>
        </div>
        <div
          style="width: 150.52px; height: 42.19px; position: absolute; left: 534.19px; top: 273.34px; background: url(&#x27;list-→-item-3.png&#x27;);"
        >
          <p
            style="width: 94.72px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            본관 지상 3층
          </p>
        </div>
      </div>
    </div>
    <div
      style="width: 1400px; height: 436.53px; position: absolute; left: 88px; top: 1334.78px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-color: #ddd;"
    >
      <svg
        width="425"
        height="316"
        viewBox="0 0 425 316"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        style="width: 424px; height: 315.53px; position: absolute; left: 0px; top: 60px;"
        preserveAspectRatio="none"
      >
        <rect
          width="424"
          height="253.42"
          transform="translate(0.163208 0.00683594)"
          fill="url(#pattern0)"
        ></rect>
        <defs>
          <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_71_241" transform="scale(0.00142653 0.00238663)"></use>
          </pattern>
          <image
            id="image0_71_241"
            width="701"
            height="419"
            
          ></image>
        </defs>
      </svg>
      <div style="width: 926px; height: 315.53px; position: absolute; left: 474px; top: 60px;">
        <img
          src="heading-3.png"
          style="width: 37px; height: 15px; position: absolute; left: -1px; top: -1px; object-fit: none;"
        />
        <p
          style="width: 212.99px; height: 50px; position: absolute; left: 0px; top: 12px; font-size: 34px; font-weight: 500; text-align: left; color: #000;"
        >
          대신신학대학원
        </p>
        <div
          style="width: 194.52px; height: 50px; position: absolute; left: 721.48px; top: 5px; border-width: 1px; border-color: #26409a;"
        >
          <p
            style="width: 128.51px; height: 21px; position: absolute; left: 15px; top: 14.2px; font-size: 18px; text-align: left; color: #26409a;"
          >
            홈페이지 바로가기
          </p>
          <img
            src="span.ico-link-hp-blue.png"
            style="width: 17px; height: 15px; position: absolute; left: 161.52px; top: 16.5px; object-fit: none;"
          />
        </div>
        <p
          style="width: 916px; height: 52.19px; position: absolute; left: 0px; top: 88.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
        >
          <span
            style="width: 916px; height: 52.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
            >안양대학교 대신신학대학원은 목회자를 양성하는 교육기관으로서 성경을 하나님의 말씀으로
            믿는 성경신앙과 역사적 개혁주의로서의</span
          ><br /><span
            style="width: 916px; height: 52.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
            >신학적 입장을 견지하면서 목회를 위한 교육(education for ministry)을 그 목적으로
            합니다.</span
          >
        </p>
        <p
          style="width: 85.44px; height: 28px; position: absolute; left: 0px; top: 171.56px; font-size: 24px; text-align: left; color: #26409a;"
        >
          교과과정
        </p>
        <p
          style="width: 307.17px; height: 27px; position: absolute; left: 0px; top: 212.16px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
        >
          목회학석사(M.Div)과정, 신학석사(Th.M.)과정
        </p>
        <div
          style="width: 289.86px; height: 42.19px; position: absolute; left: 0px; top: 273.35px; background: url(&#x27;list-→-item.png&#x27;);"
        >
          <p
            style="width: 234.06px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            031-467-0854 / 031-467-0933
          </p>
        </div>
        <div
          style="width: 164.33px; height: 42.19px; position: absolute; left: 329.86px; top: 273.35px; background: url(&#x27;list-→-item-2.png&#x27;);"
        >
          <p
            style="width: 108.53px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            031-467-0856
          </p>
        </div>
        <div
          style="width: 150.52px; height: 42.19px; position: absolute; left: 534.19px; top: 273.35px; background: url(&#x27;list-→-item-3.png&#x27;);"
        >
          <p
            style="width: 94.72px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            본관 지상 3층
          </p>
        </div>
      </div>
    </div>
    <div
      style="width: 1400px; height: 436.53px; position: absolute; left: 88px; top: 1771.31px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-color: #ddd;"
    >
      <svg
        width="425"
        height="317"
        viewBox="0 0 425 317"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        style="width: 424px; height: 315.53px; position: absolute; left: 0px; top: 60px;"
        preserveAspectRatio="none"
      >
        <rect
          width="424"
          height="282.66"
          transform="translate(0.163208 0.537109)"
          fill="url(#pattern0)"
        ></rect>
        <defs>
          <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
            <use xlink:href="#image0_71_259" transform="scale(0.000416667 0.000625)"></use>
          </pattern>
          <image
            id="image0_71_259"
            width="2400"
            height="1600"
            
          ></image>
        </defs>
      </svg>
      <div style="width: 926px; height: 315.53px; position: absolute; left: 474px; top: 60px;">
        <img
          src="heading-3.png"
          style="width: 37px; height: 15px; position: absolute; left: -1px; top: -1px; object-fit: none;"
        />
        <p
          style="width: 182.74px; height: 50px; position: absolute; left: 0px; top: 12px; font-size: 34px; font-weight: 500; text-align: left; color: #000;"
        >
          글로벌대학원
        </p>
        <div
          style="width: 194.52px; height: 50px; position: absolute; left: 721.48px; top: 5px; border-width: 1px; border-color: #26409a;"
        >
          <p
            style="width: 128.51px; height: 21px; position: absolute; left: 15px; top: 14.21px; font-size: 18px; text-align: left; color: #26409a;"
          >
            홈페이지 바로가기
          </p>
          <img
            src="span.ico-link-hp-blue.png"
            style="width: 17px; height: 15px; position: absolute; left: 161.52px; top: 16.5px; object-fit: none;"
          />
        </div>
        <p
          style="width: 924.08px; height: 52.19px; position: absolute; left: 0px; top: 88.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
        >
          <span
            style="width: 924.08px; height: 52.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
            >안양대학교 글로벌대학원은 기독교 정신을 바탕으로 진리를 탐구ㆍ교육ㆍ실천하여 고매한
            인격을 함양하고 모든 사람과 사회와 자연에</span
          ><br /><span
            style="width: 924.08px; height: 52.19px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
            >대한 의무와 책임을 다하여, 저마다의 한구석을 밝혀 나가는 아름다운 리더를
            육성합니다.</span
          >
        </p>
        <p
          style="width: 85.44px; height: 28px; position: absolute; left: 0px; top: 171.57px; font-size: 24px; text-align: left; color: #26409a;"
        >
          교과과정
        </p>
        <p
          style="width: 396.33px; height: 27px; position: absolute; left: 0px; top: 212.16px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
        >
          사회복지학과, 상담학과, 글로벌경영학과, 퍼포밍아트학과
        </p>
        <div
          style="width: 289.86px; height: 42.19px; position: absolute; left: 0px; top: 273.35px; background: url(&#x27;list-→-item.png&#x27;);"
        >
          <p
            style="width: 234.06px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            031-467-0854 / 031-467-0933
          </p>
        </div>
        <div
          style="width: 164.33px; height: 42.19px; position: absolute; left: 329.86px; top: 273.35px; background: url(&#x27;list-→-item-2.png&#x27;);"
        >
          <p
            style="width: 108.53px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            031-467-0856
          </p>
        </div>
        <div
          style="width: 150.52px; height: 42.19px; position: absolute; left: 534.19px; top: 273.35px; background: url(&#x27;list-→-item-3.png&#x27;);"
        >
          <p
            style="width: 94.72px; height: 27px; position: absolute; left: 56px; top: 8px; font-size: 18px; font-weight: 100; text-align: left; color: #333;"
          >
            본관 지상 3층
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    style="width: 1920px; height: 303.17px; position: absolute; left: 0px; top: 2879.84px; background: #152e52;"
  >
    <div
      style="width: 1920px; height: 91px; position: absolute; left: 0px; top: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; border-color: #4b5e7a;"
    >
      <div style="width: 1576px; height: 90px; position: absolute; left: 172px; top: 0px;">
        <div style="width: 960px; height: 90px; position: absolute; left: 88px; top: 0px;">
          <div style="width: 157.13px; height: 23.8px; position: absolute; left: 0px; top: 33.1px;">
            <p
              style="width: 117.33px; height: 25px; position: absolute; left: 0px; top: -1px; font-size: 16.8671875px; font-weight: 100; text-align: left; color: #fff;"
            >
              개인정보처리방침
            </p>
            <div
              style="width: 1px; height: 14px; position: absolute; left: 135.13px; top: 3.89px; background: rgba(255,255,255,0.5);"
            ></div>
          </div>
          <div
            style="width: 171.77px; height: 23.8px; position: absolute; left: 157.13px; top: 33.1px;"
          >
            <p
              style="width: 131.97px; height: 25px; position: absolute; left: 0px; top: -1px; font-size: 16.8671875px; font-weight: 100; text-align: left; color: #fff;"
            >
              이메일무단수집거부
            </p>
            <div
              style="width: 1px; height: 14px; position: absolute; left: 149.76px; top: 3.89px; background: rgba(255,255,255,0.5);"
            ></div>
          </div>
          <div
            style="width: 241.11px; height: 23.8px; position: absolute; left: 328.89px; top: 33.1px;"
          >
            <p
              style="width: 201.31px; height: 25px; position: absolute; left: 0px; top: -1px; font-size: 16.6015625px; font-weight: 100; text-align: left; color: #fff;"
            >
              개인정보 목적외 이용·제공대장
            </p>
            <div
              style="width: 1px; height: 14px; position: absolute; left: 219.11px; top: 3.89px; background: rgba(255,255,255,0.5);"
            ></div>
          </div>
          <div
            style="width: 113.2px; height: 23.8px; position: absolute; left: 570px; top: 33.1px;"
          >
            <p
              style="width: 73.4px; height: 25px; position: absolute; left: 0px; top: -1px; font-size: 16.734375px; font-weight: 100; text-align: left; color: #fff;"
            >
              대학알리미
            </p>
            <div
              style="width: 1px; height: 14px; position: absolute; left: 91.2px; top: 3.89px; background: rgba(255,255,255,0.5);"
            ></div>
          </div>
          <div
            style="width: 58.56px; height: 23.8px; position: absolute; left: 683.2px; top: 33.1px;"
          >
            <p
              style="width: 58.76px; height: 25px; position: absolute; left: 0px; top: -1px; font-size: 16.734375px; font-weight: 100; text-align: left; color: #fff;"
            >
              사이트맵
            </p>
          </div>
        </div>
        <div style="width: 440px; height: 44px; position: absolute; left: 1048px; top: 23px;">
          <div
            style="width: 210px; height: 44px; position: absolute; left: 5px; top: 0px; background: rgba(255,255,255,0.03); border-width: 1px; border-color: rgba(255,255,255,0.1);"
          >
            <p
              style="width: 139.48px; height: 25px; position: absolute; left: 23px; top: 9px; font-size: 17px; font-weight: 100; text-align: left; color: rgba(255,255,255,0.5);"
            >
              서비스 메뉴 바로가기
            </p>
          </div>
          <div
            style="width: 210px; height: 44px; position: absolute; left: 225px; top: 0px; background: rgba(255,255,255,0.03); border-width: 1px; border-color: rgba(255,255,255,0.1);"
          >
            <p
              style="width: 106.45px; height: 25px; position: absolute; left: 23px; top: 9px; font-size: 17px; font-weight: 100; text-align: left; color: rgba(255,255,255,0.5);"
            >
              관련기관 사이트
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      style="width: 1400px; height: 92.17px; position: absolute; left: 260px; top: 151px; background: url(&#x27;address.png&#x27;);"
    >
      <p
        style="width: 651.09px; height: 24px; position: absolute; left: 220px; top: -1px; font-size: 16px; font-weight: 100; text-align: left; color: #fff;"
      >
        안양캠퍼스 14028 경기 안양시 만안구 삼덕로37번길 22 (안양동, 안양대학교) 안양대학교 TEL
        031-467-0700
      </p>
      <p
        style="width: 476.86px; height: 24px; position: absolute; left: 220px; top: 31.39px; font-size: 16px; font-weight: 100; text-align: left; color: #fff;"
      >
        강화캠퍼스 23038 인천광역시 강화군 불은면 중앙로 602-14 TEL 032-930-6000
      </p>
      <p
        style="width: 384.5px; height: 24px; position: absolute; left: 220px; top: 68.79px; font-size: 16px; font-weight: 100; text-align: left; color: #707087;"
      >
        COPYRIGHT(C) ANYANG UNIVERSITY. ALL RIGHTS RESERVED.
      </p>
    </div>
  </div>
  <div
    style="width: 1920px; height: 110px; position: absolute; left: 0px; top: -110px; background: #fff;"
  >
    <div style="width: 1916px; height: 110px; position: absolute; left: 2px; top: 0px;">
      <div style="width: 182px; height: 81px; position: absolute; left: 88px; top: 29px;">
        <img
          src="link.png"
          style="width: 182px; height: 68px; position: absolute; left: -1px; top: -1px; object-fit: none;"
        />
      </div>
      <div
        style="width: 1197.94px; height: 110px; position: absolute; left: 270px; top: 0px; background: #26409a;"
      >
        <div style="width: 99.48px; height: 60px; position: absolute; left: 80px; top: 50px;">
          <p
            style="width: 99.68px; height: 27px; position: absolute; left: 0px; top: -1px; font-size: 17.859375px; font-weight: 100; text-align: left; color: #fff;"
          >
            대학/법인소개
          </p>
        </div>
        <div style="width: 62.25px; height: 60px; position: absolute; left: 264.84px; top: 50px;">
          <p
            style="width: 62.45px; height: 27px; position: absolute; left: 0px; top: -1px; font-size: 17.71875px; font-weight: 100; text-align: left; color: #fff;"
          >
            입학안내
          </p>
        </div>
        <div style="width: 83.92px; height: 60px; position: absolute; left: 412.45px; top: 50px;">
          <p
            style="width: 84.12px; height: 27px; position: absolute; left: 0px; top: -1px; font-size: 17.71875px; font-weight: 100; text-align: left; color: #fff;"
          >
            대학/대학원
          </p>
        </div>
        <div style="width: 93.36px; height: 60px; position: absolute; left: 581.73px; top: 50px;">
          <p
            style="width: 93.56px; height: 27px; position: absolute; left: 0px; top: -1px; font-size: 17.71875px; font-weight: 100; text-align: left; color: #fff;"
          >
            아리커뮤니티
          </p>
        </div>
        <div style="width: 62.25px; height: 60px; position: absolute; left: 760.45px; top: 50px;">
          <p
            style="width: 62.45px; height: 27px; position: absolute; left: 0px; top: -1px; font-size: 17.71875px; font-weight: 100; text-align: left; color: #fff;"
          >
            학사안내
          </p>
        </div>
        <div style="width: 62.25px; height: 60px; position: absolute; left: 908.06px; top: 50px;">
          <p
            style="width: 62.45px; height: 27px; position: absolute; left: 0px; top: -1px; font-size: 17.71875px; font-weight: 100; text-align: left; color: #fff;"
          >
            대학생활
          </p>
        </div>
        <div style="width: 62.25px; height: 60px; position: absolute; left: 1055.67px; top: 50px;">
          <p
            style="width: 62.45px; height: 27px; position: absolute; left: 0px; top: -1px; font-size: 17.71875px; font-weight: 100; text-align: left; color: #fff;"
          >
            발전기금
          </p>
        </div>
      </div>
      <div style="width: 171.06px; height: 60px; position: absolute; left: 1547.94px; top: 50px;">
        <div style="width: 108.81px; height: 60px; position: absolute; left: 0px; top: 0px;">
          <p
            style="width: 78.01px; height: 27px; position: absolute; left: 0px; top: -1px; font-size: 17.71875px; font-weight: 100; text-align: left; color: #26409a;"
          >
            포털시스템
          </p>
          <div
            style="width: 1px; height: 14px; position: absolute; left: 91.81px; top: 5px; background: #ccc;"
          ></div>
        </div>
        <div style="width: 62.25px; height: 60px; position: absolute; left: 108.81px; top: 0px;">
          <p
            style="width: 62.45px; height: 27px; position: absolute; left: 0px; top: -1px; font-size: 17.71875px; font-weight: 100; text-align: left; color: #26409a;"
          >
            입학안내
          </p>
        </div>
      </div>
      <div style="width: 66px; height: 60px; position: absolute; left: 1762px; top: 50px;">
        <div style="width: 22px; height: 60px; position: absolute; left: 0px; top: 0px;">
          <img
            src="link-2.png"
            style="width: 22px; height: 21px; position: absolute; left: -1px; top: -1px; object-fit: none;"
          />
        </div>
        <div style="width: 44px; height: 60px; position: absolute; left: 22px; top: 0px;">
          <img
            src="link-3.png"
            style="width: 17px; height: 17px; position: absolute; left: 26px; top: 1px; object-fit: none;"
          />
        </div>
      </div>
    </div>
  </div>
</div>