<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="/static/js/slides.js" defer></script>
<script src="/static/js/submen.js" defer></script>
<body>
<div style="width: 100%; height: 810px;">
<span class="slideshow-container">
  <div class="Slidesbackground">
    <div class="mySlides fade"
      style="width: 100%; height: 714px; position: absolute; left: 194px; top: 97px; overflow: hidden;">
      <img
        src="/static/images/image_2.png"
        style="width: 100%; height: 714px; position: absolute; left: 0px; top: -1px; object-fit: cover;"
      />
      </div>
      <div class="mySlides fade"
      style="width: 100%; height: 714px; position: absolute; left: 194px; top: 97px; overflow: hidden;">
      <img
        src="/static/images/image_3.png"
        style="width: 100%; height: 714px; position: absolute; left: 0px; top: -1px; object-fit: cover;"
      />
      </div>
      <div class="mySlides fade"
      style="width: 100%; height: 714px; position: absolute; left: 194px; top: 97px; overflow: hidden;">
      <img
        src="/static/images/image_4.png"
        style="width: 100%; height: 714px; position: absolute; left: 0px; top: -1px; object-fit: cover;"
      />
      </div>
    </div>
  </span>

  <div style="width: 336px; height: 714px; position: absolute; left: -13px; top: 96px; background: #27409a;"></div>

  <div style="width: 65%; height: 98px; position: absolute; left: -1px; top: -1px; background: #27409a;"></div>

    <ul>
      <li>
        <a href="#" class="menu-link" data-target="sub-menu-1"
          style="width: 130px; height: 33px; position: absolute; left: 310px; top: 40px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;">
          <span style="width: 130px; height: 33px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;">Introduction</span><br /><br /></a>
          <div id="sub-menu-1" class="sub-menu" style="width:100%; display: none; position:absolute; left:0px;top:80px;background-color: #fff;">
            <div class="sub_div">
              <p class="bebas-neue-regular" style="margin-bottom:0px;font-size: 30px; text-align: center;">University / Corporation</p>
              <p class="bebas-neue-regular" style="margin-top:0px;font-size: 30px; text-align:center;">Introduction</p>
              <p style="margin-top:20px; font-size:20px; text-align: center;">Creative Convergence Strong University Leads Future Value</p>
            </div>
            <ul style="display:flex; overflow-x: auto; flex-wrap: wrap; flex: 1; ">
              <li class="subpadding">
                <div href="objectives" class="box" onclick="redirectToObjectives(event)">
                  <a>Educational Objectives</a>
                </div>
              </li>
            <li class="subpadding">
              <div class="box" onclick="redirectToObjectives(event)">
                <a href="#">Beautiful Leader</a>
              </div>
            </li>
            <li class="subpadding">
              <div class="box" onclick="redirectToObjectives(event)">
                <a href="#">Uil Academi</a>
              </div>
            </li>
            <li class="subpadding">
              <div class="box" onclick="redirectToObjectives(event)">
                <a href="#">History</a>
              </div>
            </li>
            <li class="subpadding">
              <div class="box" onclick="redirectToObjectives(event)">
                <a href="#">Promotion</a>
              </div>
            </li>
            <li class="subpadding">
              <div class="box" onclick="redirectToObjectives(event)">
                <a href="#">Campus Information</a>
              </div>
            </li>
            <li class="subpadding">
              <div class="box" onclick="redirectToObjectives(event)">
                <a href="#">School Status</a>
              </div>
            </li>
            </ul>
          </div>
      </li>
    <li>
      <a href="#" class="menu-link" data-target="sub-menu-2"
      style="width: 130px; height: 33px; position: absolute; left: 425px; top: 40px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;">
      <span style="width: 130px; height: 33px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;">Entrance</span><br /><br />
    </a>
    <div id="sub-menu-2" class="sub-menu" style="width:100%; display: none; position:absolute; left:0px;top:80px;background-color: #fff;">
      <div class="sub_div">
        <p class="bebas-neue-regular" style="margin-bottom:0px;font-size: 30px; text-align: center;">University/Corporation</p>
        <p class="bebas-neue-regular" style="margin-top:0px;font-size: 30px; text-align:center;">Introduction</p>
        <p style="margin-top:20px; font-size:20px; text-align: center;">Creative Convergence Strong University Leads Future Value</p>
      </div>
      <ul style="display:flex;overflow-x: auto; flex-wrap: wrap; ">
        <!-- 서브 메뉴 항목들 -->
          <li class="subpadding">
            <div href="https://www.anyang.ac.kr/enter/index.do" class="box" onclick="redirectToObjectives(event)">
              <a>University</a>
            </div>
          </li>
          <li class="subpadding">
            <div class="box" onclick="redirectToObjectives(event)">
              <a href="#">Graudate School</a>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#" class="menu-link" data-target="sub-menu-3"
      style="width: 130px; height: 33px; position: absolute; left: 555px; top: 40px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;">
      <span style="width: 130px; height: 33px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"> ARI Community</span><br /><br /></a>
      <div id="sub-menu-3" class="sub-menu" style="width:100%; display: none; position:absolute; left:0px;top:80px;background-color: #fff;">
        <div class="sub_div">
          <p class="bebas-neue-regular" style="margin-bottom:0px;font-size: 30px; text-align: center;">University/Corporation</p>
          <p class="bebas-neue-regular" style="margin-top:0px;font-size: 30px; text-align:center;">Introduction</p>
          <p style="margin-top:20px; font-size:20px; text-align: center;">Creative Convergence Strong University Leads Future Value</p>
        </div>
        <ul style="display:flex;overflow-x: auto; flex-wrap: wrap; ">
          <!-- 서브 메뉴 항목들 -->
          <li class="subpadding">
            <div class="box" onclick="redirectToObjectives(event)">
              <a href="#">Submenu Item 1</a>
            </div>
          </li>
          <li class="subpadding">
            <div class="box" onclick="redirectToObjectives(event)">
              <a href="#">Submenu Item 2</a>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
    <a href="#" class="menu-link" data-target="sub-menu-4"
    style="width: 130px; height: 33px; position: absolute; left: 705px; top: 39px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;">
    <span style="width: 130px; height: 33px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;">University LIFE</span><br /><br /></a>
    <div id="sub-menu-4" class="sub-menu" style="width:100%; display: none; position:absolute; left:0px;top:80px;background-color: #fff;">
      <div class="sub_div">
        <p class="bebas-neue-regular" style="margin-bottom:0px;font-size: 30px; text-align: center;">University/Corporation</p>
        <p class="bebas-neue-regular" style="margin-top:0px;font-size: 30px; text-align:center;">Introduction</p>
        <p style="margin-top:20px; font-size:20px; text-align: center;">Creative Convergence Strong University Leads Future Value</p>
      </div>
      <ul style="display:flex; overflow-x: auto; flex-wrap: wrap; ">
        <li class="subpadding">
          <div class="box" onclick="redirectToObjectives(event)">
            <a href="#">Submenu Item 1</a>
          </div>
        </li>
        <li class="subpadding">
          <div class="box" onclick="redirectToObjectives(event)">
            <a href="#">Submenu Item 2</a>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>

  <p class="topmenu" style="width: 130px; height: 33px; position: absolute; left: 66%; top: 13px; font-size: 24px; font-weight: 300; text-align: center; color: #000;">
    <a href="https://portal.anyang.ac.kr/">portal site</a>
</p>

<p class="topmenu" style="width: 130px; height: 33px; position: absolute; left: 75%; top: 21px; font-size: 14px; font-weight: 300; text-align: left; color: #000;">
    <a href="https://www.anyang.ac.kr/enter/index.do"><span style="width: 100%; display: inline-block; font-size: 14px; font-weight: 300; text-align: left; color: #000;">entrance</span><br />
    <span style="width: 100%; display: inline-block; font-size: 14px; font-weight: 300; text-align: left; color: #000;">introduction</span></a>
</p>

  <img
    src="/static/images/free_icon_magnifier_2319177_1.png"
    style="width: 21px; height: 21px; position: absolute; left: 92%; top: 48px; opacity: 0.7; object-fit: cover;"
  /><svg
    width="2"
    height="25"
    viewBox="0 0 2 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="position: absolute; left: 74.25%; top: 42px;"
    preserveAspectRatio="none"
  >
    <line x1="0.86481" y1="0.00759357" x2="0.500003" y2="24.0256" stroke="black"></line></svg>
    <img
    src="/static/images/free_icon_menu_7421181_1.png"
    style="width: 21px; height: 21px; position: absolute; left: 95%; top: 48px; object-fit: cover;"/>
  <p style="position: absolute; left: 12px; top: 482px; font-size: 32px; font-weight: 600; text-align: center; color: #fff;">
    The New Paradigm of the 4th Industrial Era
  </p>

  <div style="width: 130px; height: 130px; position: absolute; left: 12px; top: 596px; background: #ffffff;"></div>

  <p class="bebas-neue-regular" style="position: absolute; left: 45px; top: 570px; font-size: 32px; font-weight: 300; text-align: center; color: #27409a;">
    story
  </p>
  <p style="position: absolute; left: 32px; top: 630px; font-size: 20px; font-weight: 700; text-align: left; color: #fff;">
    <span style="font-size: 20px; font-weight: 700; text-align: left; color: #27409a;">Beautiful</span
    ><br /><span style="font-size: 20px; font-weight: 700; text-align: left; color: #27409a;">Leader ~</span>
  </p>
  <p style="position: absolute; left: 183px; top: 541px; font-size: 48px; font-weight: 600; text-align: left; color: #fff;">
    <span style="font-size: 48px; font-weight: 600; text-align: left; color: #fff;">A university that produces </span><br />
      <span style="font-size: 48px; font-weight: 600; text-align: left; color: #fff;">beautiful leaders</span>
  </p>
</div>
</div>
<div style="height: 100px; position: relative; text-align: center;">
  <p style="margin-top: 10px; font-weight: 600;">Notice & Event Information</p>
  <p style="margin-top: 30px; font-size: 24px;">Notice for AnyangPeople</p>
</div>

<div>
  <p> Map Information</p>
<div id="map" style="width:350px;height:350px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1dcac69300877155c51233fa4fcb33c1"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(37.39184143393949 , 126.92051073404065 ), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption); 

var marker = new kakao.maps.Marker({ 
    // 지도 중심좌표에 마커를 생성합니다 
    position: map.getCenter() 
}); 
// 지도에 마커를 표시합니다
marker.setMap(map);
</script>
</div>
</body>
</html>

