<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Crawling Example</title>
</head>
<body>
    <h1>Web Crawling Results</h1>
    <!-- <ul>
        {% for i in range(0, translated_titles|length) %}
            <li><a href="https://www.anyang.ac.kr/main/communication/notice.do{{ urls[i] }}">{{ translated_titles[i] }}</a></li>
        {% endfor %}
    </ul> -->
    <ul>
        {% for i in range(0, titles|length) %}
            <li><a href="https://www.anyang.ac.kr/main/communication/notice.do{{ urls[i] }}">{{ titles[i] }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
