<div style="width: 1440px; height: 2616px; position: relative; overflow: hidden; background: #fff;">
    <div
      style="width: 886px; height: 98px; position: absolute; left: -1px; top: -1px; background: #27409a;"
    ></div>
    <p
      style="width: 130px; height: 33px; position: absolute; left: 680px; top: 25px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"
    >
      University LIFE
    </p>
    <p
      style="width: 130px; height: 33px; position: absolute; left: 209px; top: 25px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"
    >
      <span
        style="width: 130px; height: 33px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"
        >Introduction</span
      ><br /><br />
    </p>
    <p
      style="width: 130px; height: 33px; position: absolute; left: 366px; top: 25px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"
    >
      ARI Commumity
    </p>
    <p
      style="width: 130px; height: 33px; position: absolute; left: 523px; top: 25px; opacity: 0.9; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"
    >
      Entrance
    </p>
    <p
      style="width: 130px; height: 33px; position: absolute; left: 922px; top: 13px; font-size: 24px; font-weight: 300; text-align: center; color: #000;"
    >
      portal site
    </p>
    <p
      style="width: 130px; height: 33px; position: absolute; left: 1057px; top: 22px; font-size: 14px; font-weight: 300; text-align: center; color: #000;"
    >
      <span
        style="width: 130px; height: 33px; font-size: 14px; font-weight: 300; text-align: center; color: #000;"
        >entrance</span
      ><br /><span
        style="width: 130px; height: 33px; font-size: 14px; font-weight: 300; text-align: center; color: #000;"
        >introdution</span
      >
    </p>
    <img
      src="/static/images/free-icon-magnifier-2319177-1.png"
      style="width: 21px; height: 21px; position: absolute; left: 1261px; top: 48px; opacity: 0.7; object-fit: cover;"
    /><svg
      width="2"
      height="25"
      viewBox="0 0 2 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 1056.36px; top: 42px;"
      preserveAspectRatio="none"
    >
      <line x1="0.864688" y1="0.00759357" x2="0.499881" y2="24.0256" stroke="black"></line></svg
    ><img
      src="/static/images/free-icon-menu-7421181-1.png"
      style="width: 23.61px; height: 21px; position: absolute; left: 1309px; top: 48px; object-fit: cover;"
    />
    <div
      style="width: 1446px; height: 120px; position: absolute; left: -7px; top: 444px; background: #27409a;"
    ></div>
    <svg
      width="1419"
      height="100"
      viewBox="0 0 1419 100"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 20px; top: 464px;"
      preserveAspectRatio="none"
    >
      <path d="M0 0H1418.5V100H0V0Z" fill="#1A2F64"></path>
    </svg>
    <div
      style="width: 1452px; height: 376px; position: absolute; left: -13px; top: 96px; background: #27409a;"
    ></div>
    <img
      src="/static/images/image-6.png"
      style="width: 182px; height: 68px; position: absolute; left: 21px; top: 17px; object-fit: cover;"
    /><img
      src="/static/images/btn_s_nav_arrow-1.jpeg"
      style="width: 40px; height: 20px; position: absolute; left: 365px; top: 505px; object-fit: cover;"
    /><img
      src="/static/images/btn_s_nav_arrow-1.jpeg"
      style="width: 40px; height: 20px; position: absolute; left: 632px; top: 505px; object-fit: cover;"
    /><img
      src="/static/images/btn_s_nav_arrow-1.jpeg"
      style="width: 40px; height: 20px; position: absolute; left: 921px; top: 505px; object-fit: cover;"
    /><img
      src="/static/images/ico_home-1.jpeg"
      style="width: 16px; height: 20px; position: absolute; left: 122px; top: 505px; object-fit: cover;"
    />
    <p
      style="width: 145px; height: 20px; position: absolute; left: 180px; top: 470px; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"
    >
      <span
        style="width: 145px; height: 20px; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"
        >University /corporate introduction</span
      ><br /><br />
    </p>
    <p
      style="width: 145px; height: 20px; position: absolute; left: 447px; top: 480px; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"
    >
      <span
        style="width: 145px; height: 20px; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"
        >Educational objectives</span
      ><br /><br />
    </p>
    <p
      style="width: 145px; height: 20px; position: absolute; left: 725px; top: 480px; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"
    >
      <span
        style="width: 145px; height: 20px; font-size: 16px; font-weight: 600; text-align: center; color: #fff;"
        >Purpose and Objectives</span
      ><br /><br />
    </p>
    <p
      style="width: 458px; height: 82px; position: absolute; left: 569px; top: 646px; font-size: 40px; font-weight: 600; text-align: center; color: #000;"
    >
      <span
        style="width: 458px; height: 82px; font-size: 40px; font-weight: 600; text-align: center; color: #000;"
        >Purpose and Objectives</span
      ><br /><br />
    </p>
    <img
      src="/static/images/image-5.png"
      style="width: 1419px; height: 379px; position: absolute; left: 20px; top: 94px; object-fit: cover;"
    /><img
      src="/static/images/bg-sub-goal-1.jpeg"
      style="width: 1200px; height: 523.22px; position: absolute; left: 119px; top: 745px; object-fit: cover;"
    />
    <div
      style="width: 1014px; height: 391px; position: absolute; left: 212px; top: 832px; opacity: 0.8; background: #d9d9d9;"
    ></div>
    <svg
      width="1015"
      height="1"
      viewBox="0 0 1015 1"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 211px; top: 1005px;"
      preserveAspectRatio="xMidYMid meet"
    >
      <line y1="0.5" x2="1015" y2="0.5" stroke="black"></line>
    </svg>
    <p
      style="width: 507px; height: 43px; position: absolute; left: 177px; top: 1380px; font-size: 30px; text-align: center; color: #000;"
    >
      Creative Convergence University Leading Future Values
    </p>
    <p
      style="width: 460px; height: 43px; position: absolute; left: 789px; top: 1380px; font-size: 30px; text-align: center; color: #000;"
    >
      Cultivating a beautiful leader who lights up every corner
    </p>
    <svg
      width="1200"
      height="3"
      viewBox="0 0 1200 3"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 119px; top: 1718px;"
      preserveAspectRatio="xMidYMid meet"
    >
      <line x1="-0.000833332" y1="2.5" x2="1200" y2="0.500001" stroke="black"></line></svg
    ><img
      src="/static/images/ico-sub-goal-arrow-1.png"
      style="width: 72px; height: 70px; position: absolute; left: 683px; top: 1584px; object-fit: cover;"
    /><img
      src="/static/images/ico-sub-goal-arrow-1.png"
      style="width: 72px; height: 70px; position: absolute; left: 683px; top: 2040px; object-fit: cover; transform: rotate(180deg);"
    />
    <div
      style="width: 348px; height: 56px; position: absolute; left: 546px; top: 1689px; background: #fff;"
    ></div>
    <p
      style="width: 366px; height: 35px; position: absolute; left: 537px; top: 1666px; font-size: 30px; text-align: center; color: #000;"
    >
      Talent Award (Educational Objectives)
    </p>
    <div
      style="width: 350px; height: 179px; position: absolute; left: 119px; top: 1805px; border-radius: 15px; background: #fff; border-width: 1px; border-color: rgba(0,0,0,0.3);"
    ></div>
    <p
      style="width: 181px; height: 114px; position: absolute; left: 245px; top: 1832px; text-align: left; color: #27409a;"
    >
      <span
        style="width: 181px; height: 114px; font-size: 30px; font-weight: 700; text-align: left; color: #27409a;"
        >A</span
      ><span style="width: 181px; height: 114px; font-size: 30px; text-align: left; color: #27409a;"
        >ctive</span
      ><br /><span
        style="width: 181px; height: 114px; font-size: 30px; text-align: left; color: #27409a;"
        >collaborator</span
      ><br /><span
        style="width: 181px; height: 114px; font-size: 25px; text-align: left; color: #27409a;"
        >실천인재</span
      ><br /><br />
    </p>
    <img
      src="/static/images/ico-talent1-1.png"
      style="width: 72px; height: 72px; position: absolute; left: 163px; top: 1860px; object-fit: cover;"
    />
    <div
      style="width: 350px; height: 179px; position: absolute; left: 544px; top: 1805px; border-radius: 15px; background: #fff; border-width: 1px; border-color: rgba(0,0,0,0.3);"
    ></div>
    <p
      style="width: 181px; height: 114px; position: absolute; left: 670px; top: 1832px; text-align: left; color: #27409a;"
    >
      <span
        style="width: 181px; height: 114px; font-size: 30px; font-weight: 700; text-align: left; color: #27409a;"
        >R</span
      ><span style="width: 181px; height: 114px; font-size: 30px; text-align: left; color: #27409a;"
        >espected colleague</span
      ><br /><span
        style="width: 181px; height: 114px; font-size: 25px; text-align: left; color: #27409a;"
        >a man of character</span
      >
    </p>
    <img
      src="/static/images/ico-talent1-2.png"
      style="width: 72px; height: 72px; position: absolute; left: 588px; top: 1860px; object-fit: cover;"
    />
    <div
      style="width: 350px; height: 179px; position: absolute; left: 969px; top: 1806px; border-radius: 15px; background: #fff; border-width: 1px; border-color: rgba(0,0,0,0.3);"
    ></div>
    <p
      style="width: 181px; height: 114px; position: absolute; left: 1095px; top: 1833px; text-align: left; color: #27409a;"
    >
      <span
        style="width: 181px; height: 114px; font-size: 30px; font-weight: 700; text-align: left; color: #27409a;"
        >I</span
      ><span style="width: 181px; height: 114px; font-size: 30px; text-align: left; color: #27409a;"
        >nnovative challenger</span
      ><br /><span
        style="width: 181px; height: 114px; font-size: 25px; text-align: left; color: #27409a;"
        >creative talent</span
      ><br /><br /><br />
    </p>
    <img
      src="/static/images/ico-talent1-4.png"
      style="width: 72px; height: 72px; position: absolute; left: 1013px; top: 1861px; object-fit: cover;"
    />
    <div
      style="width: 350px; height: 179px; position: absolute; left: 119px; top: 1805px; border-radius: 15px; background: #fff; border-width: 1px; border-color: rgba(0,0,0,0.3);"
    ></div>
    <p
      style="width: 181px; height: 114px; position: absolute; left: 245px; top: 1832px; text-align: left; color: #27409a;"
    >
      <span
        style="width: 181px; height: 114px; font-size: 30px; font-weight: 700; text-align: left; color: #27409a;"
        >A</span
      ><span style="width: 181px; height: 114px; font-size: 30px; text-align: left; color: #27409a;"
        >ctive</span
      ><br /><span
        style="width: 181px; height: 114px; font-size: 30px; text-align: left; color: #27409a;"
        >collaborator</span
      ><br /><span
        style="width: 181px; height: 114px; font-size: 25px; text-align: left; color: #27409a;"
        >practical talent</span
      ><br /><br />
    </p>
    <img
      src="/static/images/ico-talent1-1.png"
      style="width: 72px; height: 72px; position: absolute; left: 163px; top: 1860px; object-fit: cover;"
    />
    <div
      style="width: 1200px; height: 111px; position: absolute; left: 119px; top: 2148px; border-radius: 10px; background: #1a2f64;"
    ></div>
    <div
      style="width: 1200px; height: 275px; position: absolute; left: 119px; top: 2249px; border-radius: 9px; background: #f5f4f4;"
    ></div>
    <div
      style="width: 1200px; height: 10px; position: absolute; left: 119px; top: 2249px; background: #f5f4f4;"
    ></div>
    <div
      style="width: 1014px; height: 391px; position: absolute; left: 212px; top: 832px; opacity: 0.8; background: #d9d9d9;"
    ></div>
    <p
      style="width: 388px; height: 36px; position: absolute; left: 526px; top: 2128px; font-size: 40px; font-weight: 700; text-align: left; color: #fff;"
    >
      <span
        style="width: 388px; height: 36px; font-size: 40px; font-weight: 700; text-align: left; color: #fff;"
        >Core competencies</span
      ><br /><br />
    </p>
    <svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 145px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle></svg
    ><svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 145px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle></svg
    ><img
      src="/static/images/ico-talent01-1.png"
      style="width: 55px; height: 41px; position: absolute; left: 166px; top: 2345px; object-fit: cover;"
    />
    <p
      style="width: 111px; height: 31px; position: absolute; left: 140px; top: 2436px; font-size: 20px; font-weight: 700; text-align: left; color: #27409a;"
    >
      <span
        style="width: 111px; height: 31px; font-size: 20px; font-weight: 700; text-align: left; color: #27409a;"
        >Leadership</span
      ><br /><br />
    </p>
    <svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 346px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle></svg
    ><svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 346px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle>
    </svg>
    <p
      style="width: 131px; height: 31px; position: absolute; left: 331px; top: 2412px; font-size: 20px; font-weight: 700; text-align: center; color: #27409a;"
    >
      <span
        style="width: 131px; height: 31px; font-size: 20px; font-weight: 700; text-align: center; color: #27409a;"
        >convergence practice</span
      ><br /><br />
    </p>
    <svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 555px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle></svg
    ><svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 555px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle>
    </svg>
    <p
      style="width: 87px; height: 31px; position: absolute; left: 562px; top: 2412px; font-size: 20px; font-weight: 700; text-align: center; color: #27409a;"
    >
      <span
        style="width: 87px; height: 31px; font-size: 20px; font-weight: 700; text-align: center; color: #27409a;"
        >Problem solving</span
      ><br /><br />
    </p>
    <svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 972px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle></svg
    ><svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 972px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle>
    </svg>
    <p
      style="width: 63px; height: 31px; position: absolute; left: 990px; top: 2412px; font-size: 20px; font-weight: 700; text-align: left; color: #27409a;"
    >
      Global
    </p>
    <svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 1173px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle></svg
    ><svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 1173px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle>
    </svg>
    <p
      style="width: 114px; height: 31px; position: absolute; left: 1167px; top: 2412px; font-size: 20px; font-weight: 700; text-align: center; color: #27409a;"
    >
      <span
        style="width: 114px; height: 31px; font-size: 20px; font-weight: 700; text-align: center; color: #27409a;"
        >personality and spirituality</span
      ><br /><br />
    </p>
    <svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 771px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle></svg
    ><svg
      width="99"
      height="99"
      viewBox="0 0 99 99"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="position: absolute; left: 771px; top: 2317px;"
      preserveAspectRatio="none"
    >
      <circle cx="49.5" cy="49.5" r="49.5" fill="white"></circle>
    </svg>
    <p
      style="width: 157px; height: 31px; position: absolute; left: 743px; top: 2412px; font-size: 20px; font-weight: 700; text-align: left; color: #27409a;"
    >
      <span
        style="width: 157px; height: 31px; font-size: 20px; font-weight: 700; text-align: left; color: #27409a;"
        >Communication</span
      ><br /><br />
    </p>
    <img
      src="/static/images/ico-talent01-2.png"
      style="width: 55px; height: 41px; position: absolute; left: 793px; top: 2346px; object-fit: cover;"
    /><img
      src="/static/images/ico-talent01-3.png"
      style="width: 55px; height: 52px; position: absolute; left: 368px; top: 2341px; object-fit: cover;"
    /><img
      src="/static/images/ico-talent01-4.png"
      style="width: 55px; height: 55px; position: absolute; left: 577px; top: 2339px; object-fit: cover;"
    /><img
      src="/static/images/ico-talent01-5.png"
      style="width: 55px; height: 55px; position: absolute; left: 993px; top: 2339px; object-fit: cover;"
    /><img
      src="/static/images/ico-talent01-6.png"
      style="width: 55px; height: 47px; position: absolute; left: 1196px; top: 2343px; object-fit: cover;"
    />
    <p
      style="width: 836px; height: 294px; position: absolute; left: 302px; top: 874px; text-align: center;"
    >
      <br /><span
        style="width: 836px; height: 294px; font-size: 30px; text-align: center; color: #000;"
        >“Our university's founding philosophy” </span
      ><br /><span
        style="width: 836px; height: 294px; font-size: 30px; text-align: center; color: #1a2f64;"
        >the Christian spirit</span
      ><span style="width: 836px; height: 294px; font-size: 30px; text-align: center; color: #000;"
        > and </span
      ><span style="width: 836px; height: 294px; font-size: 30px; text-align: center; color: #1a2f64;"
        >to reveal everything</span
      ><span style="width: 836px; height: 294px; font-size: 30px; text-align: center; color: #000;"
        > mentality</span
      ><br /><br /><br /><span
        style="width: 836px; height: 294px; font-size: 15px; text-align: center; color: #000;"
        >"Revealing every corner" is based on the Christian spirit, and everyone is responsible </span
      ><br /><span
        style="width: 836px; height: 294px; font-size: 15px; text-align: center; color: #000;"
        >for every corner they've been givenWhen you go out,</span
      ><br /><span
        style="width: 836px; height: 294px; font-size: 15px; text-align: center; color: #000;"
        >As an individual, you can be the best in your field, and the whole community can develop </span
      ><br /><span
        style="width: 836px; height: 294px; font-size: 15px; text-align: center; color: #000;"
        >in a healthy and harmonious waywith the idea of 'there is'A person </span
      ><br /><span
        style="width: 836px; height: 294px; font-size: 15px; text-align: center; color: #000;"
        >who fits this is defined as a beautiful leader who lights up a corner.</span
      ><br />
    </p>
    <img
      src="/static/images/Rectangle6.png"
      style="width: 636px; height: 182px; position: absolute; left: 119px; top: 1354px; object-fit: cover;"
    /><img
      src="/static/images/Rectangle7.png"
      style="width: 636px; height: 182px; position: absolute; left: 683px; top: 1354px; object-fit: cover;"
    />
    <div
      style="display: flex; justify-content: center; align-items: center; position: absolute; left: 378px; top: 1300px; gap: 10px; padding: 10px; background: #fff;"
    >
      <p style="flex-grow: 0; flex-shrink: 0; font-size: 30px; text-align: center; color: #000;">
        Vision
      </p>
    </div>
    <div
      style="display: flex; justify-content: center; align-items: center; position: absolute; left: 860px; top: 1300px; gap: 10px; padding: 10px; background: #fff;"
    >
      <p style="flex-grow: 0; flex-shrink: 0; font-size: 30px; text-align: center; color: #000;">
        founding philosophy
      </p>
    </div>
  </div>